<!-- Loop over each object in the books array -->
{{#each books as |book| }}
<div class="row mb-4 book">
  <div class="col-md-5">
    <h2>
      <a href="/books/{{book.id}}">{{book.book_name}}</a>
    </h2>
    <h5>{{book.Author}}</h5>
    <h6>{{book.genres}}</h6>
    <h6>{{book.image}}</h6>
    {{!-- <p>Created by {{book.user.name}} on {{format_date book.date_created}}</p> --}}
  </div>
  <div class="col-md-7">
    <p>
      {{book.description}}
    </p>
  </div>
</div>
{{/each}}