<!-- Loop over each object in the books array and display each object -->
{{#each books as |book| }}
<div class="row d-flex justify-content-center">
<div class="book d-flex flex-column mb-3 w-50 ">
    <div class="align-self-center">
      <h2>
        <a href="/books/{{book.id}}">{{book.book_name}}</a>
      </h2>
    </div>
    <div class="align-self-center">
        <h5>{{book.author}}</h5>
    </div>
    <div class="align-self-center">
        <h6>{{book.genres}}</h6>
    </div>
    <div class="align-self-center container">
        <img src="{{book.image}}" class="rounded mx-auto d-block" style="max-width: 50%" alt="book-image">
    </div>
    <div class="align-self-center">
      <br>
      <br>
      <p class="text-justify">
        {{book.description}}
      </p>
    </div>
</div>
</div>
{{/each}}

