<div class="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{book.title}}</h2>
      <div>
        Posted by {{book.User.username}} on {{format_date book.createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{book.body}}
    </div>
  </article>

  <div class="text-center">
    <h2>{{book.title}}</h2>
    <h5>{{book.author}}</h5>
    <h6>{{book.genres}}</h6>
    <h6>{{book.image}}</h6>
    <p>{{book.description}}</p>
    <p>
      <button class="btn btn-primary" id="add-comment-btn">Add Comment</button>
    </p>
  </div>

  <div id="comments-section">
    {{#if book.Comments}}
      <section class="card">
        <div class="card-header">
          <h3>Comments</h3>
        </div>

        <div class="card-body">
          {{#each book.Comments}}
            <div>
              <p>
                {{body}}
              </p>
              <p>
                &mdash; {{User.username}}, {{format_date createdAt}}
              </p>
            </div>
          {{/each}}
        </div>
      </section>
    {{/if}}
  </div>

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="book-id" value="{{book.id}}" />
      <label class="form-label" for="comment-body">Comment</label>
      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

{{!-- <script src="/js/comment-form.js"></script> --}}